@import '../../../styles/base';

.login {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: get-color('header-background');

    .app-logo-container {
        display: flex;
        height: 50%;

        img {
            margin-top: auto;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .login-form-container {
        flex: 1 auto;
    }
}

::ng-deep app-login {
    height: 100% !important;
}