@import './styles/_base.scss';

.page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .page {
        flex: 1 auto;
        overflow: hidden;
        background-color: get-color('page-background');
        max-width: 100%;
    }
}