<div [ngClass]="computeClasses()" class="cover-parent">
  <form [formGroup]="formGroup">
    <div *ngFor="let control of formConfig" class="form-control-container">
      <label *ngIf="control.label" [attr.for]="control.name" class="form-label">
        {{ control.label }}
        <span *ngIf="control.required" class="required-indicator">*</span>
      </label>

      <ng-container [ngSwitch]="control.type">
        <!-- Text Input -->
        <ng-template [ngSwitchCase]="'text'">
          <input *ngIf="control.type === 'text'" type="text" [formControlName]="control.name"
            [placeholder]="control.placeHolder || ''" [attr.name]="control.name"
            [attr.maxlength]="control.maxLength ? control.maxLength : 5000" class="form-control" />
        </ng-template>

        <!-- Textarea -->
        <ng-template [ngSwitchCase]="'textarea'">
          <textarea [formControlName]="control.name" [placeholder]="control.placeHolder || ''"
            [attr.name]="control.name" class="form-control"></textarea>
        </ng-template>

        <!-- Select -->
        <ng-template [ngSwitchCase]="'select'">
          <div class="select-wrapper">
            <!-- Selected Option Display with Icon -->
            <div class="selected-option" *ngIf="getControlOptionIcon(control)">
              <app-icon [icon]="getControlOptionIcon(control)">
              </app-icon>
            </div>

            <!-- Dropdown Select Box -->
            <select [formControlName]="control.name" [attr.name]="control.name" class="form-control">
              <option *ngFor="let option of control.options" [value]="option.value">
                <app-icon [icon]="option.icon">                
                </app-icon>
                {{ option.label }}
              </option>
            </select>
          </div>
        </ng-template>


        <!-- Radio Buttons -->
        <ng-template [ngSwitchCase]="'radio'">
          <div *ngFor="let option of control.options">
            <input type="radio" [formControlName]="control.name" [value]="option.value" [id]="option.value"
              class="form-radio" />
            <label [for]="option.value">{{ option.label }}</label>
          </div>
        </ng-template>

        <!-- Checkbox -->
        <ng-template [ngSwitchCase]="'checkbox'">
          <input type="checkbox" [formControlName]="control.name" [id]="control.name" class="form-checkbox" />
        </ng-template>

        <!-- Default Case -->
        <ng-template ngSwitchDefault>
          <div>Unknown control type</div>
        </ng-template>
      </ng-container>

      <!-- Validation Messages -->
      <!-- <div
        *ngIf="formGroup.get(control.name)?.invalid && (formGroup.get(control.name)?.touched || formGroup.get(control.name)?.dirty)"
        class="error-message">
        <div *ngIf="formGroup.get(control.name)?.hasError('required')">This field is required</div>
        <div *ngIf="formGroup.get(control.name)?.hasError('minlength')">
          Minimum length not met
        </div>
      </div> -->
    </div>
    <div class="form-action">
      <button *ngIf="showCancelButton" class="cancel-button" (click)="cancelClicked.emit()">
        {{ cancelButtonText ? cancelButtonText : 'Cancel' }}
      </button>
      <button class="save-button" (click)="saveClicked.emit()">
        {{ saveButtonText ? saveButtonText : 'Save' }}
      </button>
    </div>
  </form>
</div>